@model SystemRezerwacjiToiToi.Models.DTO.ToiToiDTO
@{
    ViewBag.Title = "Home Page";
    int pięć = 5;
}

<div class="jumbotron">
   @(pięć + 2)
</div>

@section Scripts{
    
     @Scripts.Render("~/bundles/jqueryval")
}